.space{
    height: 100px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    ;

   
    .h1{
        width: 500px;
        
    }

    .Table{

        width: 300px;

    }

    

}