.table{
    padding: "50px 10%";
    background: "gray";
    .customStyles {

        .headRow{
            .style{
                background: 'purple';
                color: "white"
            }
        }
    }
}
